*.class
*.log

# sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# sbt-web
node_modules/

# Eclipse / Scala-IDE
bin/
.scala_dependencies
.classpath
.project
.settings/

# Idea
.idea/
.idea_modules/
